scripts=[
"
# Truststore reader for com.merkle.oss.aem.utils.services.httpclient.HttpClientService
create service user aem-utils-truststore-reader-service with path system/merkle/aem-utils
set ACL for aem-utils-truststore-reader-service
    allow jcr:read on /etc/truststore
end

# Truststore reader for com.merkle.oss.aem.utils.services.httpclient.HttpClientService
create service user aem-utils-users-reader-service with path system/merkle/aem-utils
set ACL for aem-utils-users-reader-service
    allow jcr:read on /home/users
end

"
]
