name: deploy snapshot

on:
  push:
    branches:
      - develop

jobs:
  call-verify:

    uses: ./.github/workflows/verify.yml

  deploy-snapshot:

    needs: call-verify
    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      # Setup Java environment
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: zulu
          java-version: 11
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
      # Run maven deploy (to Sonatype)
      - name: Release Maven package
        run: mvn deploy -Pdeploy
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_USER }}
          MAVEN_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
